*::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
}

*::-webkit-scrollbar{
  cursor: pointer;
}

*::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  border-radius: 10px;
  background-color: #606060;
}

*::-webkit-scrollbar-track-piece{
  background-color: #ffffff4a;
}

*{
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: #1c1c1c;
}

.grid_layout_inner{
  display:grid;
  grid-auto-rows: 100%;
  grid-auto-columns: 100%;
}

.grid_layout_element{
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.hide{
  display: none !important;
}

.hide_opacity{
  opacity: 0
}

.row{ display: flex }

.column{
  display: flex;
  flex-direction: column;
}

.align{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
}

.space_between{
  display: flex;
  justify-content: space-between;
}

.space_around{
  display: flex;
  justify-content: space-around;
}

.button{
  margin: 3rem auto;
  width: fit-content;
  background-color: #6cd8e6;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2.5rem;
  cursor: pointer;
  border: 3px solid #6cd8e6;
  transition: 0.15s linear;
}

.button:hover{
  color: #6cd8e6;
  background-color: white;
  transform: scale(1.05);
}

.no_scale{ transform: scale(0) }

.normal_scale{ transform: scale(1) }


.alerter{
  position: fixed;
  bottom: 2rem;

  max-width: 60%;
  padding: 0.5rem 4rem;
  overflow: hidden;

  background-color: #1c1c1c;
  color: white;

  text-align: center;
  border-radius: 36px;
  box-shadow: 0px 4px 11px 1px rgb(34 60 80 / 10%);
  cursor: pointer;
  z-index: 100;
  transition: 0.15s linear;
}
