*{
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: #1c1c1c;
}

.hide{
  display: none !important;
}

.hide_opacity{
  opacity: 0
}

.row{ display: flex }

.column{
  display: flex;
  flex-direction: column;
}

.align{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
}

.space_between{
  display: flex;
  justify-content: space-between;
}

.space_around{
  display: flex;
  justify-content: space-around;
}
