*{
  margin: 0;
  font-family: 'Roboto Slab', serif;
  color: #1c1c1c;
}

body{
  background-color: #f4f4f4;
}

.row{ display: flex }

.column{
  display: flex;
  flex-direction: column;
}

.align{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
}

.space_between{
  display: flex;
  justify-content: space-between;
}

.space_around{
  display: flex;
  justify-content: space-around;
}

.user_header{
  width: 100%;
  overflow: hidden;
  margin-bottom: 10%;
}

.user_hat_inner{
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.user_hat{
  width: 100%;
  height: auto;
}

.user_info{
  margin-top: -15vh;
}

.avatar_inner{
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 12px 2px rgba(34, 60, 80, 0.2);
}

.avatar{
  width: 100%;
  height: auto;
}

.user_name, .user_tag, .user_description{
  text-align: center;
  cursor: default;
}

.user_name{
  font-size: 1.7rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.user_tag{
  opacity: 0.6;
  font-size: 1.1rem;
  font-weight: 500;
}

.user_description{
  padding: 1rem 0;
}

.user_stats{
  margin-top: 0.5rem;
  cursor: default;
}

.user_stat_count{
  font-weight: 800;
  font-size: 2.1rem;
}

.user_stat_name{
  opacity: 0.6;
  font-weight: 500;
  margin-top: 0.2rem;
  font-size: 1.1rem;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.post{
  background-color: white;
  padding: 1.5rem 3rem;
  border-radius: 12px;
  margin-bottom: 3rem;
  font-size: 1.3rem;
}

.short_avatar_inner{
  width: 8vw;
  height: 8vw;
}

.post_owner_short_info{
  margin: 1rem 0;
}

.post_owner_name{
  cursor: pointer;
  padding: 0 1rem;
  font-weight: 600;
}

.post_owner_tag{
  font-size: 1.1rem;
  opacity: 0.7;
}

.publication_date{
  margin-left: 1rem;
}

.post_text{
  margin: 2rem 0;
}

.post_image{
  border-radius: 12px;
}
